root {
  padding: 25px;
  margin: 25px;
}

.App {
  margin: 20px;
  padding: 10px;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}